
<div class="row">
    <div class="col-lg-12">
        <div class="panel">
            <div class="panel-heading">
                Angular 2 Tree Component
            </div>
            <div class="panel-body">
                <Tree [nodes]="nodes"></Tree>
            </div>
        </div>
    </div>
</div>